.card {
  max-width: 15vw;
  max-height: 40vh;
  width: 15vw;
  height: 40vh;
  min-width: 15vw;
  min-height: 40vh;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  overflow: hidden;
   transition: 0.3s;
}
.card:hover {
 transform: scale(1.1);
}
.card-top {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
.card-top-img Img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin: 8px;
}
.card-top-name {
  display: flex;

  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: start;
}
.card-top-name-f {
  font-family: var(--fontfamily-bold);
  font-size: 15px;
  margin: 5px 10px 5px 10px;
}

.card-top-name-version {
  font-family: var(--fontfamily-normal);
  font-size: 10px;
  margin: 0px 10px 0px 10px;
}
.card-top-name-Date {
  font-family: var(--fontfamily-normal);
  font-size: 10px;
  margin: 0px 10px 0px 10px;
}
.card-top-name-Technology {
  font-family: var(--fontfamily-bold);
  font-size: 12px;
  margin: 5px;
  background-color: var(--dark-orange);
  background-repeat: no-repeat;
  border-radius: 2px;
}
.card-bottom {
  height: 45%;
  font-family: var(--fontfamily-normal);
  font-size: 12px;
  text-align: justify;
  margin: 8px;
  overflow: hidden;
}
