.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-detail {
  font-size: 24px;
  font-family: "IRANSansX";
}
.profile-detail-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-detail-role h1 {
  font-size: 40px;
  font-family: "IRANSansX";
}
.primary-text {
  color: (--white);
}
.highlighted-text {
  color: var(--dark-orange);
}
.profile-detail-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "IRANSansX";
}
.profile-btns .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-btns .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin: 0 0px 0 100px;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("../../../assets/Home/vahidpoor.jpeg");
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
.social .social-icon i {
  color: white;
  padding: 12px;
  padding-left: 0px;
    transition: 0.3s;
}
.social .social-icon i:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-detail-name {
    font-size: 20px;
  }
  .profile-detail-role .primary-text {
    font-size: 12px;
  }
  .profile-btns .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}
@media screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

@media screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-btns {
    display: flex;
    justify-content: space-between;
  }
  .profile-detail {
    margin: 25px 0 0;
  }
  .profile-btns .highlighted-btn {
    margin: 0 !important;
  }
  .profile-btns,
  .profile-detail-role {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .profile-picture {
    height: 270px;
    width: 270px;
    margin-top: -90px;
  }
   .profile-detail {
    width: 90%;
  }

}